/* Navbar */
.navbar {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 500px 10px;
}

.logoimg {
    width: 100px;
    height: 100px;
    color: #f9faf8;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    padding-top: 10px;
}

.liste {
    padding-top: 30px;
}

.liste a {
    text-align: right;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linkone, .linktwo {
    padding-right: 40px;
}

/* Birinci Bölüm */
.birinci {
    background-color: #1F2937;
    padding: 10px 500px 10px 500px;
    display: flex;
    justify-content: space-between;
}

.maintext {
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F9FAF8;
    font-weight: 800;
    width: 800px;
    height: 400px;
}

.secondtext {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E5E7EB;
    margin-top: 10px;
}

.signup {
    background: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 7px 21px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #3882F6;
}

.mainimg {
    width: 350px;
    height: 300px;
    margin-right: 70px;
    border-radius: 10px;
}

/* İkinci Bölüm */
.ikinci {
    background-color: white;
    padding: 0 500px 10px;
}

.ikinci p {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ikinciickisim {
    display: flex;
    justify-content: space-around;
}

.ikinciickisim img {
    height: 200px;
    width: 200px;
}

.ikinciickisim h2 {
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Üçüncü Bölüm */
.ucuncu {
    background-color: #E5E7EB;
}

/* Dördüncü Bölüm */
.dorduncu {
    background-color: white;
}

.dorduncuickisim {
    background-color: #3882F6;
}

/* Beşinci Bölüm */
.besinci {
    background-color: #1F2937;
}
